{% extends "base.html" %}
{% block content %}
<div class="">
    <div class="container-fluid">
        <h3>Parameter Nilai</h3>
        <div class="row">
            <div class="col-sm-4">Input dataset filename</div>
            <div class="col-sm-8">:&nbsp;{{ session['input_dataset_filename'] }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">K (KNN Missing Value)</div>
            <div class="col-sm-8">:&nbsp;{{ session['k_value'] }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Jumlah neuron</div>
            <div class="col-sm-8">:&nbsp;{{ session['neuron_width'] }} X {{ session['neuron_height'] }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Nilai alpha</div>
            <div class="col-sm-8">:&nbsp;{{ session['alpha_0'] }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Nilai eta</div>
            <div class="col-sm-8">:&nbsp;{{ session['eta_0'] }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Total epoch</div>
            <div class="col-sm-8">:&nbsp;{{ session['max_epoch'] }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Tipe pengukuran</div>
            <div class="col-sm-8">:&nbsp;{{ session['tipe_pengukuran'] }}</div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" id="cluster_vis_parent">
                <h3>Cluster Terbentuk</h3>
                <div style="display: inline-block;" id="cluster_visualization"></div>
            </div>
            <br>
            <div class="col-sm-6">
                <h3>Log Training</h3>
                <div class="form-group">
                    <textarea class="form-control" id="log_training" rows="20" style="height: 100%;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <h3>Daftar Cluster</h3>
        <div id="daftar_cluster">{{ session['weight'] }}</div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <h4 class="offset-sm-5 col-sm-4">Skor {{ session['tipe_pengukuran'] }}</h4>
            <h4 id="skor_akhir" class="col-sm-3"></h4>
        </div>
    </div>
</div>
{% endblock %}
{% block script_on_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
{% include "cluster_visualization.html" %}
{% include "cluster_result.html" %}
<script type="text/javascript">

    var max_epoch = '{{ session["max_epoch"] }}';
    var source = new EventSource("/training_progress");
    let count = 0;

    source.onmessage = function(event) {
        var streamed = JSON.parse(event.data);
        console.log(streamed);
        var log = 'Epoch: ' + streamed.epoch +
            ', ' +
            'Skor ' + streamed.jenis +
            ': ' + streamed.score + '\n';
        var new_log = $('#log_training').val() + log;
        cluster_data = streamed.cluster;
        if (count == 0) {
            push_cluster_data_to_neuron();
        }
        $('#log_training').val(new_log);
        document.getElementById("log_training").scrollTop = document.getElementById("log_training").scrollHeight;
        show_cluster_list();
        if (streamed.epoch == max_epoch) {
            source.close();
            $('#skor_akhir').html(streamed.score);
        }
        count++;
    }
</script>
{% endblock %}