{% extends "base.html" %}
{% block content %}
        <form action="clustering" method="POST">
            <!-- input dataset -->
            <div class="container-fluid">
                <h3>Input Dataset</h3>
                <div class="input-group" id="input_dataset_group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input btn btn-outline-success" id="input_dataset">
                        <label for="input_dataset" class="custom-file-label">Choose file</label>
                    </div>
                </div>
            </div>
            <br>
            <!-- parameter knn -->
            <div class="container-fluid">
                <h3>Parameter KNN Missing Value Imputation</h3>
                <div class="input-group" id="parameter_knn_group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="without_knn" type="radio" name="knn_param" class="custom-control-input">
                        <label for="without_knn" class="custom-control-label">Tidak menggunakan pengisian data kosong KNN</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="with_knn" type="radio" name="knn_param" class="custom-control-input">
                        <label for="with_knn" class="custom-control-label">Menggunakan pengisian data kosong KNN</label>
                    </div>
                </div>
                <h3></h3>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">K = </span>
                    </div>
                    <input type="number" class="form-control" name="k_value" placeholder="Masukkan nilai K" aria-label="K">
                </div>
            </div>
            <br>
            <!-- parameter SOM -->
            <div class="container-fluid">
                <h3>Parameter Self-Organizing Maps</h3>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Jumlah Neuron</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="neuron_width">
                    </div>
                    <span class="col-form-label">X</span>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="neuron_height">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Nilai alpha</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="alpha">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Nilai eta</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="eta">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Jumlah epoch</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="epoch">
                    </div>
                </div>
            </div>
            <br>
            <!-- pengukuran -->
            <div class="container-fluid">
                <h3>Pengukuran yang digunakan</h3>
                <div class="input-group" id="parameter_knn_group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="qe" type="radio" name="pengukuran" value="qe" class="custom-control-input">
                        <label for="qe" class="custom-control-label">Quantization Error</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="dbi" type="radio" name="pengukuran" value="dbi" class="custom-control-input">
                        <label for="dbi" class="custom-control-label">Davies-Bouldin Index</label>
                    </div>
                </div>
            </div>
            <br>
            <!-- submit button -->
            <div class="container-fluid">
                <button type="submit" style="width: 100%" class="btn btn-primary">Mulai Clustering</button>
            </div>
        </form>
{% endblock %}